[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"

[dev-packages]
pb-tool = "*"
flake8 = "*"
importlib-metadata = {python = "<3.8"}
typing_extensions = {python = "<3.8"}
